Dal/Service References/MarketInfoService/MarketInfoService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://api.prp1-ezfx.com/API/MarketInfoService.svc?xsd=xsd1" namespace="http://schemas.datacontract.org/2004/07/EZFX.API.Common" />
  <xs:import schemaLocation="https://api.prp1-ezfx.com/API/MarketInfoService.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="https://api.prp1-ezfx.com/API/MarketInfoService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/EZFX.API.Common.InsideViewerData" />
  <xs:element name="Login">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="applicationId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/EZFX.API.Common" minOccurs="0" name="LoginResult" nillable="true" type="q1:Session" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Logout">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sessionId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogoutResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/EZFX.API.Common" minOccurs="0" name="LogoutResult" nillable="true" type="q2:APIOperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHistoricalQuotes">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sessionId" nillable="true" type="xs:string" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/EZFX.API.Common" minOccurs="0" name="rateType" type="q3:RateTypeIds" />
        <xs:element minOccurs="0" name="baseCurrency" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nonBaseCurrency" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="timeScaleSec" type="xs:long" />
        <xs:element minOccurs="0" name="numberOfPoints" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="startTime" nillable="true" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endTime" nillable="true" type="xs:dateTime" />
        <xs:element minOccurs="0" name="isRateFractional" nillable="true" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHistoricalQuotesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/EZFX.API.Common" minOccurs="0" name="GetHistoricalQuotesResult" nillable="true" type="q4:HistoricalQuotes" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIndices">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sessionId" nillable="true" type="xs:string" />
        <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="symbol" nillable="true" type="q5:ArrayOfstring" />
        <xs:element minOccurs="0" name="portalId" type="xs:int" />
        <xs:element minOccurs="0" name="culture" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIndicesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/EZFX.API.Common" minOccurs="0" name="GetIndicesResult" nillable="true" type="q6:Indices" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNews">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sessionId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fromDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="toDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/EZFX.API.Common" minOccurs="0" name="GetNewsResult" nillable="true" type="q7:News" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFinancialCalendarData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sessionId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fromDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="toDate" type="xs:dateTime" />
        <xs:element xmlns:q8="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="names" nillable="true" type="q8:ArrayOfstring" />
        <xs:element xmlns:q9="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="periods" nillable="true" type="q9:ArrayOfstring" />
        <xs:element xmlns:q10="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="locations" nillable="true" type="q10:ArrayOfstring" />
        <xs:element xmlns:q11="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="units" nillable="true" type="q11:ArrayOfstring" />
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/EZFX.API.Common" minOccurs="0" name="importance" nillable="true" type="q12:ArrayOfIndicatorImportance" />
        <xs:element minOccurs="0" name="languageSymbol" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFinancialCalendarDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/EZFX.API.Common" minOccurs="0" name="GetFinancialCalendarDataResult" nillable="true" type="q13:Indicators" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetForexOutlook">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sessionId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="culture" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fromPublishDate" nillable="true" type="xs:dateTime" />
        <xs:element minOccurs="0" name="toPublishDate" nillable="true" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetForexOutlookResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/EZFX.API.Common" minOccurs="0" name="GetForexOutlookResult" nillable="true" type="q14:Outlook" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInterestRates">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sessionId" nillable="true" type="xs:string" />
        <xs:element xmlns:q15="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="currencySymbols" nillable="true" type="q15:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInterestRatesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/EZFX.API.Common" minOccurs="0" name="GetInterestRatesResult" nillable="true" type="q16:InterestRates" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInsideViewerData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sessionId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="buyCurrency" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sellCurrency" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInsideViewerDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/EZFX.API.Common" minOccurs="0" name="GetInsideViewerDataResult" nillable="true" type="q17:InsideViewer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCurrencyList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sessionId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="getRestricted" nillable="true" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCurrencyListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/EZFX.API.Common" minOccurs="0" name="GetCurrencyListResult" nillable="true" type="q18:Currencies" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNonBusinessDays">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sessionId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNonBusinessDaysResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/EZFX.API.Common" minOccurs="0" name="GetNonBusinessDaysResult" nillable="true" type="q19:NonBusinessDays" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQuotes">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sessionId" nillable="true" type="xs:string" />
        <xs:element xmlns:q20="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="currencyPairsList" nillable="true" type="q20:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQuotesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/EZFX.API.Common" minOccurs="0" name="GetQuotesResult" nillable="true" type="q21:Quotes" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCurrencySettings">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sessionId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="getRestricted" nillable="true" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCurrencySettingsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/EZFX.API.Common" minOccurs="0" name="GetCurrencySettingsResult" nillable="true" type="q22:Currencies" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCurrencyPairSettings">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sessionId" nillable="true" type="xs:string" />
        <xs:element xmlns:q23="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="currencyPairsList" nillable="true" type="q23:ArrayOfstring" />
        <xs:element minOccurs="0" name="getRestricted" nillable="true" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCurrencyPairSettingsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/EZFX.API.Common" minOccurs="0" name="GetCurrencyPairSettingsResult" nillable="true" type="q24:CurrencyPairs" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIndicatorsSettings">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sessionId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIndicatorsSettingsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/EZFX.API.Common" minOccurs="0" name="GetIndicatorsSettingsResult" nillable="true" type="q25:IndicatorsSettings" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCrossCurrencyRates">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sessionId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCrossCurrencyRatesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/EZFX.API.Common" minOccurs="0" name="GetCrossCurrencyRatesResult" nillable="true" type="q26:CrossCurrencyRates" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInsideViewerCurrRate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sessionId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="buyCurr" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sellCurr" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInsideViewerCurrRateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/EZFX.API.Common.InsideViewerData" minOccurs="0" name="GetInsideViewerCurrRateResult" nillable="true" type="q27:InsideViewerCurrRate" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPopularityData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sessionId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cBuy" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cSell" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPopularityDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/EZFX.API.Common.InsideViewerData" minOccurs="0" name="GetPopularityDataResult" nillable="true" type="q28:CurrencyPairPopularityResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFinancialCalendarDataHolidays">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sessionId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fromDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="toDate" type="xs:dateTime" />
        <xs:element xmlns:q29="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="names" nillable="true" type="q29:ArrayOfstring" />
        <xs:element xmlns:q30="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="locations" nillable="true" type="q30:ArrayOfstring" />
        <xs:element minOccurs="0" name="languageSymbol" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFinancialCalendarDataHolidaysResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/EZFX.API.Common" minOccurs="0" name="GetFinancialCalendarDataHolidaysResult" nillable="true" type="q31:Holidays" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>